$header: 'Karla', sans-serif;
$paragraph: 'Lato', sans-serif;

$breakpoint-sm: 360px;
$breakpoint-md: 768px;
$breakpoint-lg: 990px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1800px;

$black: #000;
$white: #fff;
$olive: #A3BCB6;
$green-leaf: rgb(57, 96, 61);
$brown-grey: #3C403D;
$tan: #DADED4;
$accent: #F1B24A;
$peach: #FFCB9A;
